/*  */
/* index.html */
/*  */

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .main-content {
    padding: 130px 20px;
  }
  .song-selection__songs div img {
    width: 160px !important;
    height: 160px !important;
  }
  .song-selection__songs {
    width: 160px;
  }
  .music-bar__info-box span img,
  .music-bar .music-bar__play-box span:last-child {
    display: none;
  }
  .music-bar .music-bar__func {
    gap: 0px 0px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 1439px) {
  .quick-selection__title h1,
  .song-selection__title h1,
  .popularity-selection__title h1 {
    font-size: 24px;
  }
}
@media screen and (min-width: 500px) and (max-width: 1100px) {
  .song-selection__song-title,
  .song-selection__singer,
  .quick-selection__info span,
  .song-selection__song-title,
  .song-selection__singer,
  .music-bar__info .music-bar__title span:first-child,
  .music-bar__info .music-bar__title span:last-child {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1350px) {
  .song-selection__song-title,
  .song-selection__singer,
  .quick-selection__info span,
  .song-selection__song-title,
  .popularity-selection__title,
  .song-selection__singer {
    font-size: 16px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .main-content {
    padding: 130px 55px;
  }

  .song-selection__songs div img {
    width: 191px !important;
    height: 191px !important;
  }
  .song-selection__songs {
    width: 191px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1680px) {
  .main-content {
    padding: 130px 70px;
  }
  .quick-selection__title h1,
  .song-selection__title h1,
  .popularity-selection__title h1 {
    font-size: 34px;
  }
  .song-selection__songs div img {
    width: 191px !important;
    height: 191px !important;
  }
  .song-selection__songs {
    width: 191px;
  }
}
@media screen and (min-width: 1681px) and (max-width: 1920px) {
  .main-content {
    padding: 130px 165px;
  }
}
@media screen and (min-width: 1920px) {
  .main-content {
    padding: 130px 280px;
  }
  .song-selection,
  .quick-selection,
  .around-menu {
    width: 1482px;
  }
}

/*  */
/* detailed-page.html */
/*  */

@media screen and (min-width: 500px) and (max-width: 934px) {
  .detailed-contents {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .detailed-contents__album {
    padding-left: 20%;
    padding-right: 20%;
  }

  .detailed-contents {
    flex-wrap: wrap;
  }
  .detailed-contents__menu {
    margin-left: 0px !important;
    width: 100% !important;
  }
}
@media screen and (min-width: 935px) and (max-width: 1439px) {
  .detailed-contents {
    padding-top: 70px;
    padding-left: 51px;
    padding-right: 59px;
  }

  .detailed-contents__menu {
    margin-left: 85px !important;
    width: 40% !important;
  }

  .detailed-contents__music-lists {
    height: 65vh !important;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1679px) {
  .detailed-contents {
    padding-left: 180px;
    padding-right: 71px;
  }

  .detailed-contents__menu {
    margin-left: 185px !important;
    width: 36% !important;
  }
}
@media screen and (min-width: 1680px) and (max-width: 1919px) {
  .detailed-contents {
    padding-left: 195px;
    padding-right: 78px;
  }

  .detailed-contents__menu {
    margin-left: 190px !important;
  }
}
@media screen and (min-width: 1920px) {
  .detailed-contents {
    padding-left: 280px;
    padding-right: 105px;
  }
}
@media screen and (min-width: 1441px) {
  .detailed-contents__album-img {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

/*  */
/* around.html */
/*  */

@media screen and (max-width: 615px) {
  .song-genre .song-genre__tag {
    width: 160px;
    height: 48px;
  }
}

@media screen and (min-width: 616px) and (max-width: 1024px) {
  .song-genre .song-genre__tag {
    width: 180px;
    height: 48px;
  }
}

@media screen and (max-width: 935px) {
  .around-menu__box {
    flex-wrap: wrap;
  }
  .around-menu__box div {
    width: 100% !important;
  }
}

@media screen and (max-width: 1024px) {
  .song-genre .song-genre__tag div {
    width: 180px;
    height: 48px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .song-genre .song-genre__tag div {
    width: 191px;
    height: 48px;
    padding-left: 10px;
  }
  .music-sort p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1441px) {
  .song-genre .song-genre__tag div {
    width: 226px;
    height: 48px;
    padding-left: 18px;
  }
}

@media screen and (min-width: 1920px) {
  .around-menu {
    width: 1482px;
  }
}

/*  */
/* storage-box.html */
/*  */

@media screen and (max-width: 724px) {
  .storage-box__songs {
    width: 138px !important;
    height: 138px !important;
  }

  .storage-box__songs div img {
    width: 138px !important;
    height: 138px !important;
  }
  .storage-box__main {
    gap: 14px !important;
  }
}

@media screen and (max-width: 1024px) {
  .storage-box__songs {
    margin-top: 70px;
  }
  .storage-box {
    margin-top: 0px !important;
  }
}
