/* album side */

.detailed-contents {
  /* padding-right: 100px; */
  display: flex;
  /* height: 816px; */
  flex-direction: row;
}

/* .detailed-contents .detailed-contents__album {
  width: 720px;
  height: 816px;
} */

.detailed-contents .detailed-contents__toogle {
  width: 100%;
  text-align: center;
}
.detailed-contents .detailed-contents__toogle-border {
  margin: 0 auto;
  width: 150px;
  height: 30px;
  border-radius: 100px;
  background-color: #212121;
  color: #fff;
  font-size: var(--nickname);
  font-weight: 500;
  cursor: pointer;
}
.detailed-contents .detailed-contents__toogle-border span:first-child {
  display: inline-block;
  border-radius: 100px;
  width: 69px;
  height: 30px;
  background-color: #383838;
  line-height: 30px;
  position: relative;
  right: 16px;
}

.detailed-contents .detailed-contents__toogle-border span:last-child {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}

.detailed-contents .detailed-contents__album-img img {
  /* background: url("../../img/cover-1.jpg"); */
  /* width: 720px;
  height: 720px; */
  /* background-repeat: no-repeat;
  background-size: 720px 720px; */
}

.detailed-contents .detailed-contents__album-img img:hover {
  /* background: linear-gradient(
      to bottom,
      rgba(5, 5, 5, 0.5) 0%,
      rgba(0, 0, 0, 0) 25%
    ),
    url("../../img/cover-1.jpg");
  background-repeat: no-repeat;
  background-size: 720px 720px; */
}

/* music-list side */

.detailed-contents__menu {
  /* width: 668px;
  margin-left: 280px; */
}

.detailed-contents__menu .detailed-contents__menu-box {
  display: flex;
  height: 48px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(47 45 45 / 70%);
}

.detailed-contents__menu .detailed-contents__menu-box div {
  width: 33.3%;
  height: 48px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.detailed-contents__menu .detailed-contents__menu-box div:first-child {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.detailed-contents__menu .detailed-contents__music-type {
  display: flex;
  justify-content: space-between;
  /* width: 466px; */
  margin-bottom: 33px;
  overflow-x: hidden;
}

.detailed-contents__menu .detailed-contents__music-type:hover {
  overflow-x: scroll;
}

.detailed-contents__menu .detailed-contents__music-type span {
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 7px;
  background-color: #181818;
  cursor: pointer;
  white-space: nowrap;
  margin: 0px 5px;
}

.detailed-contents__menu .detailed-contents__music-type::-webkit-scrollbar {
  /* display: none; 크롬, 사파리, 오페라, 엣지 */
}

.detailed-contents__menu .detailed-contents__music-type span:first-child {
  background-color: #fff;
  color: black;
}

.detailed-contents__menu
  .detailed-contents__music-type
  span:hover:not(span:first-child) {
  background-color: #444242;
}

.detailed-contents__music-lists .detailed-contents__music-img {
  display: flex;
  align-items: center;
}

.detailed-contents__music-lists .detailed-contents__music-list {
  display: flex;
  justify-content: space-between;
  height: 57px;
  border-bottom: 1px solid #aaaaaa4d;
}

.detailed-contents__music-list .detailed-contents__music-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 363px;
}

.detailed-contents__music-list .detailed-contents__music-info span:last-child {
  color: var(--grey);
}

.detailed-contents__music-lists .detailed-contents__music-img img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.detailed-contents__music-lists .detailed-contents__music-img img:hover {
  opacity: 0.7;
}

.detailed-contents__music-lists .detailed-contents__music-time {
  display: flex;
  align-items: center;
  color: var(--grey);
  font-size: var(--nickname);
}
