.header {
  width: 100%;
  position: fixed;
  padding-top: 8px;
  font-size: 20px;
  top: 0;
  background: black;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0px 15px;
}

.header-menu {
  width: 385px;
  display: flex;
  justify-content: space-between;
}

.header-menu span:nth-child(4) i {
  margin-right: 10px;
}

.header-other {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-other span:nth-child(2) {
  margin: 0px 20px;
}

.header-other span:last-child img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.header-menu span {
  color: var(--grey);
}

.header-menu span:hover {
  color: #fff;
}
